<li class="gallery__item">
    <div class="gallery__card card">
        <img src={{userImageURL}} alt={{user}} class="gallery__image"
            width="480" />
        <div class="card__content">
            <h2 class="card__name">{{id}}</h2>
            <p class="card__descr">{{tags}}</p>
        </div>
    </div>
</li>
 {{!-- width="{{webformatWidth}}" --}}

 
{{!-- <img
 src="{{webformatURL}}"
 {{!-- alt="{{user}}" /> --}} --}}